<nav class="navbar bg-secondary  m-4">
    <div class="container">
      <a class="navbar-brand text-white">
        <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Doshant B Patle
      </a>
      <div class="m-2">
        <a class="m-4 text-white" routerLink="app-body">HOME</a>
        <a class="m-4 text-white" routerLink="app-skills">SKILLS</a>
        <a class="m-4 text-white" routerLink="app-projects">PROJECTS</a>
        <a class="m-4 text-white" routerLink="app-personalinfo">PROFILE</a>
      </div>
      
    </div>
  </nav>