<div>
    <footer class="text-center text-lg-start text-white bg-secondary m-4">

        <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
        
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with me on social networks:</span>
          </div>
        
      
    
          <div>
            <a href="" class="me-4 text-white">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a href="" class="me-4 text-reset">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQKrFhY-ljA-u7J5IMWeTv8zmpBx4PP9nQMw&s"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a href="" class="me-4 text-reset">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFIO7GSBMKQnJ3ozrPVpjHfqSKxsXtAybqQ&s"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a href="" class="me-4 text-reset">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStJ661_VwO4iG6mzSlGKrrM3SD7L8iPCl7Zg&s"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a href="" class="me-4 text-reset">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYIf4qwAVMeAZHL7QYa9s4aOEEiPVYha2HTQ&s"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
          </div>

        </section>
    
    </footer>
</div>