<div class="container-fluid px-4 text-center">
  <div class="row gx-5 align-items-center">
    <div class="col-md-6">
      <div class="p-3 mt-4 fs-5 text-start text-white rounded-3 bg-dark">
        Driven by a curious mind and a love for technology, I transitioned from the realm of electronics to the dynamic world of full-stack development. With a solid engineering foundation and a keen interest in JavaScript, Angular, and React, I am dedicated to creating robust and user-centric web solutions. My journey from hardware to software has equipped me with a unique perspective that I bring to every project.
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-4">
      <img src="https://images.playground.com/9f4dabd400264e38aa8b895f46a28ceb.jpeg" alt="img" class="rounded-5 img-fluid" style="max-width: 350px;">
    </div>
  </div>
</div>